<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zin.unicorn">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/UnicornTheme">

        <activity
            android:name=".module.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/StartAppTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.demo.activity.DemoActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.zin.unicorn.module.home.activity.HomePageActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".module.chat.activity.ChatActivity"
            android:theme="@style/UnicornTheme" />

        <activity android:name=".module.killapp.KillApplicationActivity" />

        <activity
            android:name="com.zin.unicorn.module.user.activity.ProfileActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name="com.zin.unicorn.module.face.FaceDetectorActivity"
            android:theme="@style/AppTheme" />

        <activity android:name=".module.excel.activity.ExcelActivity" />

        <!--<receiver android:name="com.zin.toolutils.sys.ApplicationInstallActionUtil">-->

        <!--</receiver>-->

        <!--<activity android:name="com.zin.ra.nsgam.main.SplashActivity"/>-->

        <receiver
            android:name=".util.AppChangeBroadcastReceiver"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.your.app.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

    </application>

</manifest>